{% extends 'layout/layout.html' %}

{% block head %}
    <title>Reset Password</title>
{% endblock %}

{% block body %}
    <div style="max-width: 400px; margin: auto; margin-top: 100px;">
        <form class="p-4" action="{{url_for('auth.pwd_reset', user_id=user_id)}}" method="POST">
            {{form.csrf_token}}
            <img src="/static/assets/picasa.png" alt="" width="180px" class="img-fluid mx-auto d-block">
            <h3 class="fs-3 mt-5">Reset Password</h3>
            <!-- <h5 class="fs-5">Enter New Password</h4> -->
    
            {{form.password (class_='form-control mt-3', placeholder='New Password')}}
    
            <div class="mt-3">
                <input type="checkbox" id="showPwd" class="form-check-input">
                <label for="showPwd" class="form-check-label ml-2">Show Password</label>
            </div>

            <div class="d-grid mt-3">
                {{form.reset (class_="btn btn-primary")}}
            </div>
        </form>
    </div>
    <script src="/static/js/auth.js"></script>
{% endblock %}